
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489232392166'); /* IE9*/
  src: url('iconfont.eot?t=1489232392166#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489232392166') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489232392166') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489232392166#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before { content: "\e61f"; }

.icon-diqiu:before { content: "\e613"; }

.icon-shape11:before { content: "\e62f"; }

.icon-sigekuang:before { content: "\e616"; }

.icon-open-left:before { content: "\e631"; }

.icon-open-right:before { content: "\e632"; }

.icon-gerenzhongxinwodeshoucang:before { content: "\e60f"; }

.icon-baobiao:before { content: "\e60e"; }

.icon-weibo:before { content: "\e65c"; }

.icon-record-alt:before { content: "\e621"; }

.icon-tuku:before { content: "\e670"; }

.icon-zhanghuxinxi:before { content: "\e84f"; }

.icon-hua:before { content: "\e699"; }

.icon-xiaoqq:before { content: "\e683"; }

.icon-yuanquan:before { content: "\e603"; }

.icon-wodefenxiang:before { content: "\e647"; }

.icon-facebook:before { content: "\e615"; }

.icon-renzheng7:before { content: "\e60d"; }

